.footer {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;

  

  &__text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #554279;
    text-align: center;
  }

  &__highlighted {
    font-weight: 700;
  }
}