html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;

  min-width: 230px;
  max-width: 550px;

  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: $mainBackgroundColor;
  color: $mainFontColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
