.todoItem {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;

  &:last-child {
    border-bottom: none;
  }

  &__destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;

    &::after {
      content: "×";
      cursor: pointer;
    }

    &:hover {
      color: #af5b5e;
      display: block;
    }
  }

  &__toggle {
    text-align: center;
    width: 40px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;

    &:checked + label {
      background-image: url(../../../public/icons/checked.svg);
    }
  }

  &__label {
    background-image: url(../../../public/icons/unchecked.svg);
    background-repeat: no-repeat;
    background-position: center left;

    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;

    &:hover ~ .todoItem__destroy {
      display: block;
    }
  }

  &__edit {
    font-size: 100%;
    display: none;
    box-sizing: border-box;
    width: 506px;
    padding: 12px 16px;
    margin: 0 0 0 43px;
  }
}
