/* .todo-item__input {
  width: 96%;
  padding: 10px;
  line-height: 1.3em;
  font-size: 1.2em;
  text-align: center;
  box-shadow: 0 0 40px -11px rgba(0,0,0,0.75);
  border: 1px solid #9f9f9f;
}

.todo-item__input::selection {
  background: rgba(63, 141, 214, 0.8);
  padding: 10px;
  color: white;
  text-shadow: 0 -1px 3px rgb(9, 29, 10);
  width: 100%;
} */
