@import '../../../styles/utils/extends';

.new-todo {
  @extend %main-input;

  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.new-todo:focus {
  outline: none;
}