// colors
$white-color: #fff;
$pot-pourri-color: #f7eaea;
$oyster-pink-color: #efd5d5;
$gallery-color: #ededed;
$alto-color: #d9d9d9;
$eunry-color: #cc9a9a;
$matrix-color: #af5b5e;
$dusty-gray-color: #999;
$dove-gray-color: #737373;
$silver-color: #ccc;
$mercury-color: #e6e6e6;
$tundora-color: #4d4d4d;
$alabaster-color: #fcfcfc;
$boulder-color: #777;
$wild-sand-color: #f6f6f6;

//transitions
$transition-time: 0.3s;
