.auth-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

.auth-nav-wrapper {
  border-bottom: 1px solid #4d4d4d;
  display: flex;
  margin-bottom: 16px;
}

.auth-header-link {
  font-size: 20px;
  color: #d9d9d9;
  padding: 8px;
  transition: all 0.2s;
  cursor: pointer;
}

.auth-header-link:hover {
  background: beige;
}

.auth-header-link_active {
  background: beige;
  color: #cc9a9a;
}

.input-form {
  border: 3px solid #ABDCFF;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
}

.input-form:focus {
  box-shadow: 0 0 0 5px rgba(52, 152, 219, 0.2);
  border: 3px solid #ABDCFF;
  outline: none;
}

.input-form-error {
  box-shadow: 0 0 0 5px rgba(231, 76, 60, 0.2);
  border: 3px solid #c0392b;
  outline: none;
}

.form-btn {
  padding: 15px 45px;
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
  text-align: center;
  text-transform: uppercase;
  transition: .5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  cursor: pointer;
  margin: 24px auto;
}

.form-btn:hover {
  background-position: right center;
}

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
