.authorization {
  margin-top: 50%;

  &__content {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    color: #00d1b2;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  &__input {
    width: 70%;
    height: 40px;

    @media (max-width: 425px) {
      width: 95%;
    }
  }
}
