.filter {
  display: flex;

  &__link {
    margin: 3px;
    padding: 3px 7px;
    border: 1px solid transparent;
    color: inherit;
    border-radius: 3px;
    text-decoration: none;

    &:hover {
      border-color: rgb(175 47 47 / 10%);
    }

    &.selected {
      border-color: rgb(175 47 47 / 20%);
    }
  }
}
