.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.filters li {
  display: inline;
}

.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a:hover {
  border-color: #d5797e;
}

.filters li a.selected {
  border-color: #B83F45;
}

@media (max-width: 430px) {
  .filters {
    bottom: 10px;
  }
}

input:focus {
  outline: 3px solid #B83F45;
  opacity: 0.7;
  color: #000;
}

.clear-completed {
  color: inherit;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.clear-completed:active{
  border-color: #B83F45;
}
