.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.filters li {
  display: inline;
}

.filters li a {
  color: black;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a:hover {
  /* border-color: rgba(175, 47, 47, 0.1); */
  border-color: #7680ef58;
}

.filters li a.selected {
  /* border-color: rgba(175, 47, 47, 0.2); */
  /* border-color: #5bc3aeb6; */
  /* border-color: #7680ef; */
  /* background-color: #7680ef3a; */
  background-color: #969AF0;
  color: white;

  /* color: white; */
}

@media (max-width: 430px) {
  .filters {
    bottom: 10px;
  }
}
