.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.filters__item {
  display: inline-block;
  position: relative;
}

.filters__link {
  position: relative;
}

.filters__link--active::after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgba(255, 255, 255);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
}

/* .filters li {
  display: inline;
} */

.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

@media (max-width: 430px) {
  .filters {
    bottom: 10px;
  }
}
