@use "sass:map";
@import "../utils/variables";

.filters {
  display: flex;

  &__link {
    margin: 3px;
    padding: 3px 7px;

    color: inherit;
    text-decoration: none;
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 3px;

    &:hover {
      border-color: map.get($colors, "filters-hover");
    }

    &.selected {
      border-color: map.get($colors, "filters-selected");
    }
  }

  @media (max-width: 430px) {
    bottom: 10px;
  }
}
