@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  position: absolute;
  width: 500px;
  margin: auto;
}

.form {
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.form__item {
  position: relative;
}

.form__item img {
  position: absolute;
  left: 10px;
  transform: translateY(40%);
}

.form input {
  font-family: inherit;
  outline: 0;
  width: 100%;
  margin: 0 0 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: inherit;
  padding: 16px 16px 16px 60px;
  border: none;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  background: (0, 0, 0, 0.01);
}

.is-danger input {
  box-shadow: 0 0 5px 0.5px rgb(212, 4, 4);
}

.form input::placeholder {
  font-style: italic;
  font-weight: 300;
  color: #a2a0a0;
}

.form button {
  position: relative;
  left: -37%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 25%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4caf50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000;
  text-decoration: none;
}

.container .info span .fa {
  color: #ef3b3a;
}
