@import './utils/mixins';
@import './utils/variables';

* {
  margin: 0;
  padding: 0;
}

.page {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  line-height: 1.4em;
  background: $page-bg;
  color: $primary-color;
  height: 100vh;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

.todoapp {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: $primary-color;
  margin: 15px auto;

  &__log-out {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
  }

  &__content {
    max-width: 550px;
    min-width: 200px;
    margin: 0 auto 20px;
    background: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
      0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  &__title {
    margin: 0 auto;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: $title-color;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
  }

  &__loader {
    display: flex;
    justify-content: center;
  }

  &__footer {
    position: relative;
  }
}

.main {
  border-top: 1px solid $footer-border-top-color;
}

.hidden {
  visibility: hidden;
}

.is-outlined,
.icon-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $main-color;
}
