iframe {
  display: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.todoapp {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
  padding-top: 100px;
}

.header__count {
  text-align: center;
}

.navlink {
  color: black;
}

.delete-button {
  opacity: 0;
  transition: opacity 1s;
}

.todo-item {
  &:hover > .delete-button {
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.notification {
  transition-property: opacity, min-height;
  transition-duration: 1s;
  min-height: 36px;
  max-width: 500px;
  margin: 10px auto 0;
}

.notification.hidden {
  min-height: 0;
  opacity: 0;
  pointer-events: none;
}

.loader-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(204, 214, 247, 0.288);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
