
html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.new-user-button {
  color: blue;
  font-weight: 400;
}

.new-user-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.error-tip {
  color: red;
  font-weight: 500;
}

#cloudTodos-title {
  width: 600px;
  margin-left: -27px;
  color: rgba(28, 31, 204, 0.15);
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

.hidden {
  display: none;
}

.todoapp {
  background: #fff;
  margin: 130px 0 40px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::-ms-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

.toggle-all {
  width: 1px;
  height: 1px;
  border: none; /* Mobile Safari */
  opacity: 0;
  position: absolute;
  right: 100%;
  bottom: 100%;
}

.toggle-all + label {
  width: 60px;
  height: 34px;
  font-size: 0;
  position: absolute;
  top: -52px;
  left: -13px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.toggle-all + label:before {
  content: "â¯";
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px;
}

.toggle-all:checked + label:before {
  color: #737373;
}

.footer {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.footer:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todo-count {
  float: left;
  text-align: left;
}

.todo-count strong {
  font-weight: 300;
}

.clear-completed {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.clear-completed:hover {
  text-decoration: underline;
}

.clear-completed:active {
  text-decoration: none;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .toggle-all {
    background: none;
  }
}

@media (max-width: 430px) {
  .footer {
    height: 50px;
  }
}

.new-user-form {
  &__errorMsg {
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    padding: 3px;
    color: rgb(182, 0, 0);
    -webkit-text-stroke: 1px rgb(182, 0, 0);
    text-shadow: 1px 0 1px #b33232;
    position: relative;
    top: -5px;
  }

  &__wrapper {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: rgba(rgb(255, 255, 255), 0.01);
    z-index: 3;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(4px);
    transform: translateY(-100%);
    transition: transform 0.5s;

    &.visible {
      transform: translateY(0);
    }
  }

  &__main {
    box-sizing: border-box;
    border-radius: 2rem;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    padding-bottom: 1rem;
    background-color: rgba(rgb(0, 102, 255), 0.1);
  }

  &__input {
    display: block;
    border: none;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 5px;

    &::placeholder {
      font-weight: 200;
      color: #a0a0a0;
      font-style: italic;
    }

    &:focus {
      outline: 1px solid rgb(105, 107, 255);
    }
  }

  &__submit-button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, to left bottom, to left top,
    color-stop(0.16, rgb(207, 207, 207)),
    color-stop(0.79, rgb(252, 252, 252))),
      -moz-linear-gradient(bottom, rgb(207, 207, 207) 16%,
    rgb(252, 252, 252) 79%),
      linear-gradient(to top, rgb(207, 207, 207) 16%,
    rgb(252, 252, 252) 79%);
    padding: 3px;
    border: 1px solid #fff;
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin: 0.7rem auto 0;
    font-size: 1.2rem;
  }
}

.inline-btn {
  margin: 1px;
  font-size: 0.9rem;
  display: inline;
  border-color: #c5c5c5;
}

.adminPanel__usersTable {
  margin-bottom: 20vh;
}

.adminKey {
  position: fixed;
  left: 0;
  top: 30vh;
  padding: 1rem 1.5rem 2rem 0.5rem;
  transform: translateX(-87%);
  transition: transform 0.5s;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #fff;
  z-index: 3;

  &.visible {
    transform: translateX(0%);
  }

  &__label {
    display: block;
    text-align: center;
  }

  &__input {
    display: inline;
    width: fit-content;

    &:focus {
      outline: none;
    }
  }

  &__legend {
    position: absolute;
    left: 132px;
    transform: rotate(270deg);
    //writing-mode: vertical-lr;
    padding: 0.2rem;
    cursor: pointer;
    width: 90px;
  }

  &__errorMsg {
    position: absolute;
    text-align: center;
    color: red;
    padding: 3px;
    z-index: 2;
  }
}

.homepage {
  &__legend {
    font-size: 3rem;
    line-height: 4rem;
    margin: 3rem auto;
  }
}

.homepage__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  gap: 1.3rem;
  text-decoration: none;
}

.imageLink {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  border-radius: 2rem;
  object-fit: cover;
  -webkit-filter: brightness(2) contrast(0.8) saturate(0%) opacity(0.5);
  filter: brightness(2) contrast(0.8) saturate(0%) opacity(0.5);
  transition: transform 0.5s, filter 1s;

  &:hover {
    filter: none;
    z-index: 1;
    transform: scale(1.5);
    transition: transform 0.5s, filter 1s;
  }
}

.navIcon {
  position: relative;
  display: inline;
  height: 1rem;
  top: +3px;
}

.navbar {
  margin-top: 0.3rem;

  &__item {
    text-decoration: none;
    padding: 3px 15px;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    & > :last-child {
      margin-right: 150px;
    }
  }
}

.has-background-grey-lighter {
  border: 1px solid rgb(158, 158, 158);
  border-radius: 2rem;
}

.deletionDialog {
  background-color: rgb(255, 196, 196);
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  vertical-align: top;
  font-size: 1rem;
  overflow: hidden;
}

.yes_no {
  text-align: right;
}

.deletionDialog__row {
  visibility: collapse;
}

.row_visible {
  visibility: visible;
}

.bold {
  font-weight: 700;
}

.title {
  &__wrapper {
    display: flex;
    padding-top: 0.3rem;
    //justify-content: space-between;
    flex-direction: column;
  }

  &__login {
    display: block;
    font-size: 2em;
    /*  margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    cursor: pointer;
    align-self: end;
  }

  &__userId {
    font-weight: 400;
  }

  &__noId {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes flash {
  0% {
    font-weight: 200;
  }
  50% {
    font-weight: 400;
  }
  100% {
    font-weight: 200;
  }
}

.loginValid {
  position: relative;
  //top: -43px;
  font-size: 1rem;
  //text-decoration: underline;
}

.login-input {
  background-color: #fff;
  border-radius: 2rem;
  width: 50vw;
}

.login-input-wrapper {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: rgba(rgb(255, 255, 255), 0.01);
  z-index: 5;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(4px);
  transform: translateY(200%);
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.visible {
    transform: translateY(0);
  }
}
