iframe {
  display: none;
}

html {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

body {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}

.notification {
  transition-property: opacity, min-height;
  transition-duration: 1s;
  min-height: 36px;
}

.notification.hidden {
  min-height: 0;
  opacity: 0;
  pointer-events: none;
}

@import "./vars";
@import "./fonts/fonts";
@import "./item";
@import "./todoapp";
@import "./todo";
@import "./filter";
