html,
body {
  margin: 0;
  padding: 0;
  font-family: "Mouse Memoirs", sans-serif;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 14px "Mouse Memoirs", sans-serif;
  line-height: 1.4em;
  background: $lightPinkColor;
  color: $tiffanyColor;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

.hidden {
  display: none;
}

.todoapp {
  background: $bezhColor;
  margin: 130px 0 40px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(32, 214, 200, 0.5),
    0 25px 50px 0 rgba(32, 214, 200, 0.5);
}

.todoapp input::-webkit-input-placeholder {
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 300;
  color: $bezhColor;
}

.todoapp input::-moz-placeholder {
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 300;
  color: $bezhColor;
}

.todoapp input::-ms-input-placeholder {
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 400;
  color: $lightPinkColor;
}

.todoapp input::placeholder {
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 500;
  color: $lightPinkColor;
}

.todoapp h1 {
  font-family: "Mouse Memoirs", sans-serif;
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: $blueColor;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 1.2em;
  line-height: 1.4em;
  color: inherit;
  padding: 6px;
  border: 1px solid #52d6c8;
  box-shadow: inset 0 -1px 5px 0 rgba(32, 214, 200, 0.7);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0 -2px 1px rgba(32, 214, 200, 0.3);

  &-edit {
    padding: 15px 15px 15px 60px;
    height: 100%;
    font-size: 24px;
    line-height: 1em;
  }
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid $bezhColor;
}

.toggle-all {
  width: 1px;
  height: 1px;
  border: none; /* Mobile Safari */
  opacity: 0;
  position: absolute;
  right: 100%;
  bottom: 100%;
}

.toggle-all + label {
  width: 60px;
  height: 34px;
  font-size: 0;
  position: absolute;
  top: -52px;
  left: -13px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.toggle-all + label:before {
  content: "❯";
  font-size: 22px;
  color: rgba(32, 214, 200, 0.2);
  padding: 10px 27px;
}

.toggle-all:checked + label:before {
  color: $blueColor;
}

.footer {
  color: $tiffanyColor;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.footer:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todo-count {
  float: left;
  text-align: left;
}

.todo-count strong {
  font-weight: 300;
}

.clear-completed {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.clear-completed:hover {
  text-decoration: underline;
}

.clear-completed:active {
  text-decoration: none;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .toggle-all {
    background: none;
  }
}

@media (max-width: 430px) {
  .footer {
    height: 50px;
  }
}
