.item {

  &-enter {
    max-height: 0;

    &-active {
      overflow: hidden;
      max-height: 58px;
      transition: max-height 0.3s ease-in-out;
    }
  }

  &-exit {
    max-height: 58px;

    &-active {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-in-out;
    }
  }
}

.temp-item {

  &-enter {
    max-height: 0;

    &-active {
      overflow: hidden;
      max-height: 58px;
      transition: max-height 0.3s ease-in-out;
    }
  }

  &-exit {
    max-height: 58px;

    &-active {
      transform: translateY(-58px);
      max-height: 0;
      opacity: 0;
      transition: 0.3s ease-in-out;
      transition-property: opacity, max-height, transform;
    }
  }
}

.has-error .temp-item-exit-active {
  transform: translateY(0);
  overflow: hidden;
}
