@mixin new-todo() {
  width: 100%;
  padding: 16px 16px 16px 60px;

  font-size: 24px;
  line-height: 1.4em;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  border: none;
  background: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;

  &::placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
  }
}
