.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
  background-color: #f5f5f5;

  &.is-active {
    display: flex;
  }
}
