.notification {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  background-color: #feecf0;
  color: #cc0f35;
  border-radius: 4px;
  padding: 1.25rem 1.5rem;
  transition-property: opacity, min-height;
  transition-duration: 1s;
}

.notification.hidden {
  min-height: 0;
  opacity: 0;
  pointer-events: none;
}
