.todo {
  position: relative;
  display: grid;
  -ms-grid-columns: 45px 1fr;
  grid-template-columns: 45px 1fr;
  justify-items: stretch;
  font-size: 24px;
  line-height: 1.4em;
  border-bottom: 1px solid #ededed;
}

.todo:last-child {
  border-bottom: 0;
}

.todo__status-label {
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}

.todo.completed .todo__status-label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
}

.todo__status {
  opacity: 0;
}

.todo__title {
  padding: 12px 15px;
  word-break: break-all;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.todo.completed .todo__title {
  color: #d9d9d9;
  text-decoration: line-through;
}

.todo__remove {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  font-size: 120%;
  line-height: 1;
  font-family: inherit;
  font-weight: inherit;
  color: #cc9a9a;
  float: right;
  border: 0;
  background: none;
  cursor: pointer;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  opacity: 0;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.todo__remove:hover {
  color: #af5b5e;
}

.todo:hover .todo__remove {
  opacity: 1;
}

.todo__title-field {
  width: 100%;
  padding: 11px 14px;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  border: 1px solid #999;
  -webkit-box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}

.todo__title-field::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todo__title-field:-ms-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todo__title-field::placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todo .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.5;
}
