.todoapp {
  background: #fff;
  margin: 130px 0 40px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);

  &__header {
    position: relative;
  }

  &__title {
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
  }

  &__toggle-all {
    position: absolute;

    height: 100%;
    width: 45px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    color: #e6e6e6;

    border: 0;
    background-color: transparent;
    cursor: pointer;

    &.active {
      color: #737373;
      transition: color 0.4s;
    }

    &:before {
      content: "❯";
      transform: rotate(90deg);
      line-height: 0;
      cursor: pointer;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &__new-todo {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    color: inherit;
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.01);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::placeholder {
      font-style: italic;
      font-weight: 300;
      color: #e6e6e6;
    }

    &::-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      font-style: italic;
      font-weight: 300;
      color: #e6e6e6;
    }
  }

  &__main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: 50px;
      overflow: hidden;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
        0 8px 0 -3px #f6f6f6,
        0 9px 1px -3px rgba(0, 0, 0, 0.2),
        0 16px 0 -6px #f6f6f6,
        0 17px 2px -6px rgba(0, 0, 0, 0.2);
    }
  }

  &__todo-count {
    float: left;
    text-align: left;
  }

  &__clear-completed {
    margin: 0;
    padding: 0;
    border: 0;

    float: right;

    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;

    cursor: pointer;
    background: none;

    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      text-decoration: none;
    }

    &--hidden {
      visibility: hidden;
    }
  }
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .todoapp__toggle-all {
    background: none;
  }
}

@media (max-width: 430px) {
  .todoapp__footer {
    height: 50px;
  }
}
