@charset "UTF-8";

.todoapp {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
  margin: 40px 20px;
}

.todoapp__content {
  margin-bottom: 20px;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todoapp__title {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.todoapp__header {
  position: relative;
}

.todoapp__toggle-all {
  position: absolute;
  height: 100%;
  width: 45px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  color: #e6e6e6;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.todoapp__toggle-all.active {
  color: #737373;
}

.todoapp__toggle-all:before {
  content: "❯";
  -webkit-transform: translateY(2px) rotate(90deg);
  transform: translateY(2px) rotate(90deg);
  line-height: 0;
}

.todoapp__new-todo {
  width: 100%;
  padding: 16px 16px 16px 60px;
  font-size: 24px;
  line-height: 1.4em;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  background: rgba(0, 0, 0, 0.01);
  -webkit-box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.todoapp__new-todo::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp__new-todo:-ms-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp__new-todo::placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp__main {
  border-top: 1px solid #e6e6e6;
}

.todoapp__footer {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 20px;
  padding: 10px 15px;
  font-size: 14px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todoapp__clear-completed {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todoapp__clear-completed:disabled {
  opacity: 0;
}

.todoapp__clear-completed:hover {
  text-decoration: underline;
}

.todoapp__clear-completed:active {
  text-decoration: none;
}
