.TodosFilter {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.TodosFilter li {
  display: inline;
}

.TodosFilter li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 15px;
}

.TodosFilter li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.TodosFilter li a.selected {
  border-color: $blueColor;
}

@media (max-width: 430px) {
  .TodosFilter {
    bottom: 10px;
  }
}
