.title {
  position: absolute;
  top: -140px;
  width: 100%;
  text-rendering: optimizeLegibility;
  font-family: "Permanent Marker", cursive;
  font-size: 80px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 5px;
  color: rgba(175, 47, 47, 0.15);
  margin-bottom: 20px;
}
