$appSideMargin: 20px;
$editFieldLeftMargin: 43px;

$mainFontColor: #4d4d4d;
$mainBackgroundColor: #f5f5f5;
$mainAppColor: #d9d9d9;
$mainFooterColor: #777;
$titleColor: rgba(175, 47, 47, 0.15);
$userTitleColor: rgba(175, 47, 47, 0.25);
$borderFilterSelectedColor:rgba(175, 47, 47, 0.2);
$borderFilterHoveredColor: rgba(175, 47, 47, 0.1);
$borderEditTodoColor: #999;
$toggleAllCheckedColor: #737373;
$deleteTodoColor: #cc9a9a;
$deleteTodoHoveredColor: #af5b5e;
$errorBackgroundColor: #f14668;
$errorFontColor: #fff;
$deleteErrorButtonColor: rgba(10, 10, 10, 0.2);

$mobileBreakpoint: 550px;
