.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  right: -5px;
  top: -5px;
  border: 10px solid;
  border-color: rgba(147, 142, 142, 0.35)
    rgba(213, 128, 128, 0.25)
    rgba(223, 219, 219, 0.35)
    rgba(239, 235, 235, 0.5);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {

  0% {
    opacity: 0.5;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
} 
