$todo-border-color: #999;

$body-color: #4d4d4d;
$body-bg-color: #f5f5f5;

$app-main-bg-color: #fff;
$app-main-shadow-color: rgba(0, 0, 0, 0.2);
$app-secondary-shadow-color: rgba(0, 0, 0, 0.1);
$title-color: rgba(175, 47, 47, 0.15);
$input-color: #e6e6e6;

$new-todo-background-color: rgba(0, 0, 0, 0.01);
$new-todo-shadow-color: rgba(0, 0, 0, 0.03);

$main-border-color: #e6e6e6;
$toogle-all-color: #737373;

$todo-border-color: #ededed;
$todo-completed-label-color: #d9d9d9;
$todo-destroy-color: #cc9a9a;
$todo-destroy-hover-color: #af5b5e;

$footer-color: #777;
$footer-border-color: #e6e6e6;
$footer-secondary-shadow-color: #f6f6f6;

$filters-hover-color: rgba(175, 47, 47, 0.1);
$filters-selected-color: rgba(175, 47, 47, 0.2);
