.filters-btn {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters-btn:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.filters-btn.selected {
  border-color: rgba(175, 47, 47, 0.2);
}
