@import '../../styles/utils/variables';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: content-box;
  height: 20px;
  padding: 10px 15px;

  font-size: 14px;

  color: $main-color;
  text-align: center;
  border-top: 1px solid $footer-border-top-color;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px $footer-box-shadow-color,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px $footer-box-shadow-color,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);

  @media (max-width: 430px) {
    height: 50px;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
      0 8px 0 -3px $footer-box-shadow-color,
      0 9px 1px -3px rgba(0, 0, 0, 0.2),
      0 16px 0 -6px $footer-box-shadow-color,
      0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }

  &__todo-count {
    float: left;
    text-align: left;
  }

  &__clear-completed {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &:active {
      text-decoration: none;
    }
  }
}

.filters {
  list-style: none;
  display: flex;
  justify-content: center;

  @media (max-width: 430px) {
    bottom: 10px;
  }

  &__item {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;

    &:hover {
      border-color: $filters-hover-border-color;
    }

    &.selected {
      border-color: $filters-hover-border-color;
    }
  }
}
