$fontSize: 1.2rem;
$titleSize: 3rem;
$marginBottom: 24px;
$fontColor: #474747;
$whiteColor: #fff;
$grayColor: #808080;
$lightGrayColor: #d3d3d3;
$greenColor: #3ec487;
$blueColor: #3e8ed0;
$redColor: #f14668;
