body {
  padding: 15px;
}

.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: #8E7AB5;
    margin-bottom: 0;
  }

  &__form {
    margin-top: -30px;
  }

  &__input {
    position: relative;
    width: 60vw;
    max-width: 550px;
    height: 45px;
    border-color: transparent;
    border-bottom-color: #B784B7;
    padding-left: 7vw;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    box-shadow: 1px 1px 1px 1px #E493B3;
    transition: all .3s;
    cursor: pointer;

    &::placeholder {
      color: #554279;
      opacity: .7;
    }

    &::before {
      content: '';
      position: absolute;
      // background-image: url(../public/logo192.png);
      left: 10px;
      height: 50px;
      width: 20px;
    }

    &:focus {
      box-shadow: 1px 1px 1px 1px #B784B7;
    }

    &:hover {
      box-shadow: 0 5px #8E7AB5;
    }
  }
}

.todo-list {
  margin-top: 25px;
  width: 60vw;
  max-width: 630px;
  padding-top: 15px;
  border: 1px solid transparent;
  z-index: -1;
  box-shadow: 5px 5px 15px #e493b344;

  &__todo {
    margin-bottom: 10px;
    padding-left: 5vw;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #d21557;
    color: #EEA5A6;
    font-size: 24px;


    &:last-of-type {
      margin-bottom: 0;
      border: none;
    }

    &::before {
      content: '';
      position: absolute;

    }
  }

}
